@use 'variables' as *;

* {
	box-sizing: border-box;
}

html,
body {
	height: 100%;
	padding: 0;
	margin: 0;
}

h1 {font-size: $h1Size;}
h2 {font-size: $h2Size;}
h3 {font-size: $h3Size;}
h4 {font-size: $h4Size;}
h5 {font-size: $h5Size;}
h6 {font-size: $h6Size;}

a {
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}

	&:active {
		color: $redColor;
	}
}
