@use "variables" as *;
@use "mixins" as *;

/* Swiper */
.swiper {
	display: none;
	margin: $smallIndent;
	padding-bottom: $bigIndent;

	&::after {
		@include fake-block-element;
		position: absolute;
		z-index: 1;
		top: 0;
		right: 0;
		bottom: 0;
		width: $smallIndent;
		background-image: linear-gradient(90deg, transparent 0%, $bgColor 100%);
	}

	&-wrapper {
		height: auto;
	}

	&-slide {
		width: auto;
		padding-right: $smallIndent;
	}

	&-pagination {
		&-bullet {
			opacity: 1;
			background-color: rgba(#000000, 0.1);

			&-active {
				background-color: rgba(#000000, 0.3);
			}
		}
	}
}