// Normalize
@use "normalize"; // Set Elements Default Styles

// Main Markup
@use "wrapper"; // Wrapper
@use "header"; 	// Header
@use "footer"; 	// Footer
@use "sidebar";	// Sidebar

// Blocks
@use "icons";			// Icons
@use "side_menu";		// Side Menu
@use "navigate";		// Main Menu
@use "block_article";	// Article
@use "block_section";	// Section
@use "catalog";			// Catalog
@use "price_list";		// Price List
@use "buttons";			// Buttons
@use "swiper";			// Swiper

// Media Styles
@use "media";	// Screen Width [320, 640, 768, 1120]

// Set Fonts
@import "../fonts/fonts.css"; // 'TT Lakes', sans-serif
